#projects {
    background: #1d809f;
}
.projects-content {
    width: 1200px;
}
.projects-content-content{
    width: 1200px;
}
.projects-content-img img{
    width: 20em;
    height: 20em;
}
.project-explanation-title {
    font-size: 18px;
}
.projects-p a{
    text-decoration: none;
}