<div id="projects" class="d-flex flex-column align-items-center text-center">
    <Title :kind="projects"/>
    <div class="projects-content mt-5 mb-0">
        <div class="my-5 bg-white rounded-5 col-xl-12 col-lg-9 col-md-7 col-sm-4 col-2 mx-auto" v-for="(project, i) in projectsInfo" :key="i">
            <div class="py-3">
                <b class="fs-2">{{project.name}}</b>
            </div>
            <div class="my-2">
                <p class="text-muted">{{project.datePeople}}</p>
            </div>
            <div class="projects-content-content d-flex justify-content-center my-5 mx-auto col-lg-12 col-md-11 col-sm-10 col-9 flex-xl-row flex-lg-column flex-md-column flex-sm-column flex-column">
                <div class="projects-content-img mx-3">
                    <img class="object-fit-cover col-sm-2" :src="require(`@/assets/img/${project.img}.png`)">
                </div>
                <div class="d-flex align-items-start flex-column m-4 mx-3">
                    <ProjectContentComponent title="프로젝트 계기" :content="project.motivation"/>
                    <ProjectContentComponent title="프로젝트 소개" :content="project.introduction"/>
                    <div class="mx-auto">
                        <p class="project-explanation-title mb-1 fw-semibold">프로젝트 적용했던 기술</p>
                        <div v-for="(content, i) in project.contents" :key="i">
                            <p class="mb-1 mt-0 text-center">● {{content}}</p>
                        </div>
                    </div>
                    
                    <div class="w-100 border mb-2 mt-0"></div>
                    <p class="mt-1 mb-0 fw-bold">
                        ● GitHub : <a class="text-decoration-none text-start fw-normal" :href="project.source" target="_blank">Github 새 탭 띄우기</a>
                    </p>
                    <p class="mt-1 mb-0 fw-bold" v-if="project.domain !== ''">
                        ● 도메인 : <a class="text-decoration-none text-start fw-normal" :href="project.domain" target="_blank">도메인 새 탭 띄우기</a>
                    </p>
                    <p class="mt-1 mb-0 text-start">
                        <b>● Skill Stack : </b> {{project.skillStack}}
                    </p>
                    <p class="mt-1 mb-0 text-start">
                        <b>● IDE : </b> {{project.IDE}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>