<div id="contact" class="d-flex align-items-center flex-column pb-5 pt-0">
    <Title :kind="contact" />
    <div class="page-contact mt-5 mb-0 d-flex justify-content-center align-items-center">
        <div class="m-2">
            <a class="text-black" href="https://github.com/seongchangkim"><b-icon-github font-scale="5"></b-icon-github></a>
        </div>
        <div class="m-2">
            <a class="text-black" href="mailto:darkgx21@naver.com"><b-icon-envelope-fill font-scale="5"></b-icon-envelope-fill></a>
        </div>
    </div>
    <div class="mt-2 mb-0">
       &copy; 2023. Kim Seong Chang. All rights reserved. 
    </div>
</div>