<div id="skills" class="d-flex align-items-center flex-column bg-light mt-5 mb-0 text-center">
    <Title :kind="skills"/>
    <div>
        <skillsSubComponent title="Back-End" :imgArr="backEndArr"/>
        <skillsSubComponent title="RDBMS" :imgArr="rdbmsArr"/>
        <skillsSubComponent title="IDE" :imgArr="IDEArr"/>
        <skillsSubComponent title="Version-Control" :imgArr="versionControlArr"/>
        <skillsSubComponent title="Web Front-End" :imgArr="frontEndArr"/>
        <skillsSubComponent title="App Development" :imgArr="appDevelopmentArr"/>
        <skillsSubComponent title="Centficate" :imgArr="certificateArr"/>
    </div>
</div>