<div id="skills">
    <Title :kind="skills"/>
    <div class="skills-content">
        <skillsSubComponent title="Web Front-End" :imgArr="frontEndArr"/>
        <skillsSubComponent title="Back-End" :imgArr="backEndArr"/>
        <skillsSubComponent title="RDBMS" :imgArr="rdbmsArr"/>
        <skillsSubComponent title="App Development" :imgArr="appDevelopmentArr"/>
        <skillsSubComponent title="IDE" :imgArr="IDEArr"/>
        <skillsSubComponent title="Version-Control" :imgArr="versionControlArr"/>
        <skillsSubComponent title="Centficate" :imgArr="certificateArr"/>
    </div>
</div>